<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account View</title>
    
    
    <!-- F O N T - A W E S O M E - L I N K -->
    <script defer src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" integrity="sha384-vuFJ2JiSdUpXLKGK+tDteQZBqNlMwAjhZ3TvPaDfN9QmbPb7Q8qUpbSNapQev3YF" crossorigin="anonymous"></script>
 
    <link rel="stylesheet" href="/style.css">

</head>
<body id="viewAccount_page">

    <main class="main-vAccount">
        <%- include('./views.inc/nav.inc.ejs', {options : true} ); %> 


        <div class="account-info-container">
            <div class="uNePi-container">
                <img src="<%= picture %>" alt="" class="profile-pic">
                
                <div class="h-contain">
                    <h1 class="username"><%= userName %></h1>
                    <h2 class="email"><%= email %></h1>
                </div>


                <% if (blockBythisUser == false) {%>
                    
                 

                <div class="follow-info-container
                
                <% if( following == true ) {%> 
            
                    following
        
                    <% } %>                
                ">

                    <% if (blocked == false) {%> 
                    
                        <div class="followers-h">
                            <h2><%= followers_count %></h2>
                            <span>Followers</span>
                        </div>

                        <div class="following-h">
                            <h2><%= following_count %></h2>
                            <span>Following</span>
                        </div>

    

                        <button class="follow-btn "></button>
                        <button class="Block-btn ">Block</button>
                    
                        <button class="mute-btn 
                        
                        <% if (muted == true) {%> 
                            muted
                        <% } %> 
                        
                        "></button>
                
                    <% } else {%> 

                        <button class="Unblock-btn ">Unblock</button>
                    <% } %> 


                </div>

                <% } else {%>

                <span class="block-msg">You are blocked by this Account</span>

                <% } %> 

                

                <div class="sep-line-vacc">
                    <div class="sep-bg-color"></div>
                </div>

                <h3 class="bio">
                    <% if (blockBythisUser == false) {%>
                        <% if (blocked == false) {%> 
                            <%= bio %>
                        <% } %>
                    <% } %>
                </h3>

            </div>



            <% if (blockBythisUser == false) {%>
                <% if (blocked == false) {%> 

                    
                <div class="gallery-heading-cont">

                    <h2>Written Blogs</h2>

                    <div class="account-blog-gallery">
                    
                        <%  
                        var img        =  "https://images.unsplash.com/photo-1618221227897-57302c9460b6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80" ;
                        var desc       =  "Culpa esse voluptate cillum Lorem reprehenderit magna adipisicing pariatur commodo proident laboris et. Ea ea cupidatat commodo enim eu culpa aute mollit amet sunt nisi. Culpa fugiat eu consectetur labore ipsum ea aute minim. Enim eiusmod ullamco labore commodo pariatur laboris enim anim";
                        var likes      =  "153";
                        var title      =  "How to cook";
                        var views      =  "364";
                        var authorImg  =  "https://images.unsplash.com/photo-1618216724394-f053be6b6f53?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"; 
                        var authorName =  "Levi Ackerman";

                        for (var i = 0 ; i < 0 ; i++) { 
                        %>

                            <%-
                            include("./views.inc/blog_card.inc.ejs",
                                {
                                    img         :   img,
                                    desc        :   desc,
                                    likes       :   likes,
                                    title       :   title,
                                    views       :   views,
                                    authorImg   :   authorImg,
                                    authorName  :   authorName,
                                    blogId      :   i+1
                                }                    
                            );
                            %>

                        <%
                        }
                        %>
                    
                        
                                    
                        <button class="loading-btn"><i class="fas fa-redo"></i></button>
                    </div>

                </div>

                <% } %> 
            <% } %> 
        </div>





        <% if (blockBythisUser == false) {%>
            <% if (blocked == false) {%> 
            <div class="follow-info-div">

                <div class="finfo-cover">

                    <div class="goback-btn-cover">
                        <button class="goback-btn">
                            <i class="fas fa-arrow-left"></i>
                        </button>
                    </div>

                    <div class="tab-bar-cover">
                        <table class="tab-bar">
                            <tr>
                                <td><button id="follower-data" class="followers-tab active-fTabs"><span>Followers</span></button></td>
                                <td><button id="following-data" class="following-tab "><span>Following</span></button></td>
                            </tr>
                        </table>
                    </div>



                    <div class="tab-contents">

                        <div id="follower-data" class="follower-div">
                            <%
                            var profileImg = "https://images.unsplash.com/photo-1618216724394-f053be6b6f53?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80";
                            for (var i=0 ; i<0 ; i++) { 
                                var userName = "Annei arlet"+((1+i)*100000);    
                            %>
                                <%-
                                include('views.inc/authorCard.inc.ejs', 
                                    {
                                        profileImg  : profileImg,
                                        userName    : userName,
                                        authorID    : (i+1),
                                    }
                                );
                                %>
                            <%
                            }
                            %> 







                            <button class="loading-btn"><i class="fas fa-redo"></i></button>
                        </div>




                        <div id="following-data" class="following-div">
                            <%
                            var profileImg = "https://images.unsplash.com/photo-1618983390955-ab63296aa1b4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80";
                            for (var i=0 ; i<0 ; i++) { 
                                var userName = "Erwin smith"+i;    
                            %>
                                <%-
                                include('views.inc/authorCard.inc.ejs', 
                                    {
                                        profileImg  : profileImg,
                                        userName    : userName,
                                        authorID    : i+1,
                                    }
                                );
                                %>
                            <%
                            }
                            %> 








                            <button class="loading-btn"><i class="fas fa-redo"></i></button>
                        </div>

                    </div>







                </div>

            </div>
            <% } %> 
        <% } %> 









    </main>






    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="module" src="/script.js"></script>
    
</body>
</html>