


<a href="/view/<%= blogId %> " class="blog">
    <div class="thumbnail-da-livi-container">                   

        <div class="thumbnail-container">
            <img src="<%= img %>" alt="" class="thumbnail-img">
    
        </div>
    
        <div class="date-livi-container">
            <div class="view-like-grp">
                <div class="view-grp">
                    <i class="far fa-eye"></i>
                    <span><%= views %></span>
                </div>
    
                <div class="like-grp">
                    <i class="far fa-thumbs-up"></i>
                    <span><%= likes %></span>
                </div>
            </div>
        </div>
    
    </div>
    
    <div class="blog-data-container">
        <div class="data-div-1">
            <h3 class="title"><%= title %></h3>
            <div class="line-sep"></div>
            <div class="desc-container">
                <p class="desc"><%= desc %></p>
            </div>
        </div>
    
    
        <div class="author-container">
            <img src="<%= authorImg %>" alt="" class="author-img">
            <h4 class="author-name"><%= authorName %></h4>
        </div>
    </div>
</a>  





